<% decorated.errors[:base].try do |messages| %>
  <% Array(messages).each do |message| %>
    <div role="alert">
      <%= raw message %>
    </div>
  <% end %>
<% end %>
<% decorated.form_field_names.each do |field_name| %>
  <div>
    <%= form.label field_name %>
    <%= form.text_field field_name %>
  </div>
<% end %>
<%= form.button wt('buttons.save'), class: 'btn btn-primary' %>
<%= cancel_link html_options: { class: 'btn btn-default' } %>
